.item-enter {
  opacity: 0;
  transform: translate(-30%);
}

.item-enter-active {
  opacity: 1;
  transform: translate(0%);
  transition: all 140ms linear;
}

.item-exit {
  opacity: 1;
}

.item-exit-active {
  opacity: 0;
  transform: translate(10%) scale(0.5);
  transition: all 100ms linear;
}
